#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_1 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_2 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_1 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-testcase .s-Row_cell_2 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_55 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_57 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_58 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_60 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_62 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_63 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_64 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_65 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_66 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_67 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_68 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_70 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_69 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_71 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_72 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_76 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_21 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_211 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_55 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-bg {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_198 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_60 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_199 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_61 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_200 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_62 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_201 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_63 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_186 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_48 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_187 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_49 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_188 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_50 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_189 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_51 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_190 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_52 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_191 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_53 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_192 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_54 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_193 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_55 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_194 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_56 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_195 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_57 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_196 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_58 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_197 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_59 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_184 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_185 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_47 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_210 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_183 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_212 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_213 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_214 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_215 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_216 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_217 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_224 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_207 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_208 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 167px;
  height: 36px;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 167px;
  height: 36px;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_5 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_9 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_10 > .valign {
  vertical-align: middle;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_3 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_28 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_29 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_30 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_32 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_33 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_34 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_37 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_38 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_40 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_35 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_36 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_47 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_48 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_42 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_49 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_51 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_52 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_45 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_46 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_53 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_54 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_4 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_50 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_58 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_62 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_16 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_64 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_65 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_66 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_67 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_6 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_12 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_63 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Table_7 {
  border-collapse: separate;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_13 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_60 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_68 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_69 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_70 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_14 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_71 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_72 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_73 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_74 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_75 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_15 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_76 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_77 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_78 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_79 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_81 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_82 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_83 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_84 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_85 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_18 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_98 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_99 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_100 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_86 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_87 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_88 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_89 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_90 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_19 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Cell_19 > .valign {
  vertical-align: middle;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_13 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_15 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_17 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_19 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d .s-Row_cell_14 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d .s-Row_cell_16 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d .s-Row_cell_18 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d .s-Row_cell_20 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d .s-checkbox-on-light_4 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_25 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_19 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_19 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_21 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_22 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_23 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_24 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_1 .s-Row_cell_25 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_1 .s-Row_cell_26 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_1 .s-Row_cell_27 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_1 .s-Row_cell_28 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_27 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_56 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_57 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_59 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Paragraph_61 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(90.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(90.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-checkbox-on-light_11 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 166px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_10 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_29 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_30 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_31 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Row_cell_32 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_3 .s-Row_cell_33 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_3 .s-Row_cell_34 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_3 .s-Row_cell_35 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_3 .s-Row_cell_36 {
  position: relative;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-d_3 .s-checkbox-on-light_5 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_29 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Button_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-509e5f22-5d50-447b-8ea5-920df51da520 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}