#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}