#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1360px;
  min-width: 1360px;
  min-height: 720px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: 0px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 510px;
  z-index: 100;
  overflow: visible;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_34 {
  position: absolute;
  top: 16px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 18.0pt;
  font-family: FontAwesome,Arial;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_34 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_35 {
  position: absolute;
  top: 15px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_35 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_1 {
  position: absolute;
  top: 160px;
  left: 328px;
  width: 353px;
  height: 129px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Rectangle_2 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 200px;
  height: 49px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Master_item_2 div.offset {
  position: relative;
  top: -40px;
  left: -48px;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 #s-Master_item_2 {
  position: absolute;
  top: 77px;
  left: 32px;
  width: 64px;
  height: 117px;
  z-index: 100;
  overflow: visible;
}
#simulation {
  overflow: hidden;
}
#s-0121d019-73a8-4ac9-9f6b-e9f833856a08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}