#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-checkbox-on-light_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-checkbox-on-light_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a #m-9c7c1a94-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a #m-9c7c1a94-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a #m-9c7c1a94-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}