#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1439px;
  min-width: 1439px;
  min-height: 853px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1439px;
  height: 853px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}