#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 56px;
  background-color: #616161;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 span#rtr-m-1a5a1d83-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Dynamic_Panel_6 {
  position: absolute;
  top: 54px;
  left: 1048px;
  display: none;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_11 {
  width: 221px;
  height: 456px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_11 .verticalalign {
  vertical-align: top;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 219px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 span#rtr-m-1a5a1d83-Rectangle_37_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 {
  position: absolute;
  top: 32px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 span#rtr-m-1a5a1d83-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 {
  position: absolute;
  top: 130px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 span#rtr-m-1a5a1d83-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 {
  position: absolute;
  top: 82px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 span#rtr-m-1a5a1d83-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 span#rtr-m-1a5a1d83-Text_4_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_1 {
  width: 221px;
  height: 456px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_38 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 179px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_38 span#rtr-m-1a5a1d83-Rectangle_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_8 {
  position: absolute;
  top: 34px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_8 span#rtr-m-1a5a1d83-Text_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_9 {
  position: absolute;
  top: 90px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_9 span#rtr-m-1a5a1d83-Text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_2 {
  width: 221px;
  height: 456px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 179px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_3 span#rtr-m-1a5a1d83-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 {
  position: absolute;
  top: 50px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 span#rtr-m-1a5a1d83-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_7 {
  position: absolute;
  top: 106px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_7 span#rtr-m-1a5a1d83-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_6 {
  position: absolute;
  top: 13px;
  left: 1228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: FontAwesome,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_6 span#rtr-m-1a5a1d83-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_10 {
  position: absolute;
  top: 17px;
  left: 1143px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_10 span#rtr-m-1a5a1d83-Text_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_11 {
  position: absolute;
  top: 12px;
  left: 1318px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: FontAwesome,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_11 span#rtr-m-1a5a1d83-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}