#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_1 {
  position: absolute;
  top: 40px;
  left: 48px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_1 span#rtr-m-3d7286cc-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_2 {
  position: absolute;
  top: 86px;
  left: 48px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_2 span#rtr-m-3d7286cc-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}