#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a #m-3d7286cc-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-3d7286cc-d831-4300-ae4a-16eea55f378a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}