#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a #m-9c7c1a94-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a #m-9c7c1a94-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a #m-9c7c1a94-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#m-9c7c1a94-10ff-4eed-a360-3dc526e0eb2a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}