#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1360px;
  height: 56px;
  background-color: #616161;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_1 span#rtr-m-1a5a1d83-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 {
  position: absolute;
  top: 13px;
  left: 1288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: FontAwesome,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_2 span#rtr-m-1a5a1d83-Text_2_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesome,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Dynamic_Panel_6 {
  position: absolute;
  top: 54px;
  left: 1108px;
  display: none;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_11 {
  width: 221px;
  height: 456px;
  background-color: transparent;
  background-image: none;
  box-shadow: 0px 1px 12px 3px #434343;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Panel_11 .verticalalign {
  vertical-align: top;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_24 {
  position: absolute;
  top: 22px;
  left: 38px;
  padding-left: 8px;
  width: 204px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_24 span#rtr-m-1a5a1d83-Text_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 223px;
  height: 459px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Rectangle_37 span#rtr-m-1a5a1d83-Rectangle_37_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_1 {
  position: absolute;
  top: 130px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_1 span#rtr-m-1a5a1d83-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 {
  position: absolute;
  top: 37px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_3 span#rtr-m-1a5a1d83-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 {
  position: absolute;
  top: 82px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_4 span#rtr-m-1a5a1d83-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 {
  position: absolute;
  top: 178px;
  left: 60px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847 #m-1a5a1d83-Text_5 span#rtr-m-1a5a1d83-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1a5a1d83-30e8-4b14-b84c-373c8b139847.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}