#m-81ab12d0-0d05-498e-8704-0eead8700482 #m-81ab12d0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-81ab12d0-0d05-498e-8704-0eead8700482.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}