#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}