#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}