#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-model_list .s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-model_list .s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-model_list .s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-select .s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-model_list_1 .s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-model_list_1 .s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-model_list_1 .s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15ab8f00-5bfb-4e43-a57e-01151e4977fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}