#s-1993b059-e337-439a-88cc-4fd895f17256 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-input {
  position: absolute;
  top: 192px;
  left: 388px;
  width: 250px;
  height: 32px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 245px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 250px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 250px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #shapewrapper-s-Line_4 {
  display: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-input_1 {
  position: absolute;
  top: 248px;
  left: 388px;
  width: 250px;
  height: 32px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 245px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 250px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 250px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #shapewrapper-s-Line_6 {
  display: none;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Flat-button-light {
  position: absolute;
  top: 312px;
  left: 388px;
  width: 246px;
  height: 36px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Text_1 {
  position: absolute;
  top: 48px;
  left: 416px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Text_1 span {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #08AE9E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}