#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 36px;
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1993b059-e337-439a-88cc-4fd895f17256 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}