#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1993b059-e337-439a-88cc-4fd895f17256 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}