#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-GRID .s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-GRID .s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}