#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Rectangle_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_1 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_3 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_5 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_7 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_9 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_11 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_13 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Row_cell_15 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_2 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_4 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Category_4-options {
  background-color: transparent;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_6 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_8 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_10 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_12 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_14 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-list .s-Row_cell_16 {
  position: relative;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-GRID .s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-GRID .s-Category_3-options {
  background-color: transparent;
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-GRID .s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a42f9ee-2ec2-4208-adf0-4190d08127b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}