#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_1 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_3 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_5 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_7 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_9 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_11 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_13 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_15 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_17 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Row_cell_19 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_2 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_4 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_6 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_8 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_10 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_12 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_14 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_16 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_18 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-DB_V .s-Row_cell_20 {
  position: relative;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2AC3D4;
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2AC3D4;
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}