#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Row_cell_1 {
  position: relative;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-checkbox-on-light_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Row_cell_3 {
  position: relative;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Row_cell_5 {
  position: relative;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 111px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 111px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Row_cell_2 {
  position: relative;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-checkbox-on-light_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Row_cell_4 {
  position: relative;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Row_cell_6 {
  position: relative;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-report .s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-a7182e14-64f2-40d8-991d-13c8aa84e948 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}