#m-81ab12d0-0d05-498e-8704-0eead8700482 #m-81ab12d0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-26c63113-634b-4e7d-9a8c-1116c6b4e8ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}