#m-81ab12d0-0d05-498e-8704-0eead8700482 #m-81ab12d0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_1 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_2 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_3 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_4 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_5 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_6 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_7 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_8 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_9 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_10 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_11 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_12 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_13 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_14 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_15 {
  rotation: 45.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_16 {
  rotation: 315.0;
  margin-left: 16px;
  margin-top: -43px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-DB_V .s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-2fbc54ed-1a06-46ec-bc84-4b29385c270b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}