#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_1 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_3 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_5 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_7 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_9 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_11 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_13 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_15 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_17 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_19 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_21 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_23 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Row_cell_25 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_2 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_4 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_6 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_8 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_10 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_12 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_14 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_16 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_18 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_20 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_22 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_24 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Row_cell_26 {
  position: relative;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-managerdatabase .s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-4b21731a-bcc3-4738-a703-e4a64063fe8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}