#m-81ab12d0-0d05-498e-8704-0eead8700482 #m-81ab12d0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-userreview .s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-userreview .s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-userreview .s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-5aebe8ec-2a5b-4543-87c5-3f9c9d0959c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}