#m-81ab12d0-0d05-498e-8704-0eead8700482 #m-81ab12d0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cc937713-d6fe-4123-84b2-40e85945bf13 #m-cc937713-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-usergroup .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-76a5168d-ae8e-4ca3-9f55-2fc5089563b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}