#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_1 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_3 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_5 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_7 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_9 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_11 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_13 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_15 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_17 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Row_cell_19 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_2 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_4 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_6 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_8 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_10 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_12 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_14 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_16 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_18 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-DB_V .s-Row_cell_20 {
  position: relative;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2AC3D4;
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2AC3D4;
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-a17b4030-a70e-4f8b-8e1a-41e83ffb9348 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}