#m-81ab12d0-0d05-498e-8704-0eead8700482 #m-81ab12d0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-DB_V .s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-DB_V .s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-DB_V .s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-e9d10b41-68b5-431f-8056-ea384d831a59 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}