#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7 #m-45f15936-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#m-45f15936-a12a-49c3-b88f-3d64175583c7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}