#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6 #m-522572d4-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-522572d4-e9f8-4fe6-8fec-8653d4ac7fc6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}