#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 56px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Rectangle_1 span#rtr-m-c3f64b60-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 {
  position: absolute;
  top: 15px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_1 span#rtr-m-c3f64b60-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 {
  position: absolute;
  top: 20px;
  left: 1186px;
  width: 52px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 span#rtr-m-c3f64b60-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_1 span#rtr-m-c3f64b60-Paragraph_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Times New Roman,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 {
  position: absolute;
  top: 20px;
  left: 1274px;
  width: 52px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Paragraph_2 span#rtr-m-c3f64b60-Paragraph_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 {
  position: absolute;
  top: 19px;
  left: 1104px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 span {
  color: #2AC3D4;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83 #m-c3f64b60-Text_2 span#rtr-m-c3f64b60-Text_2_0 {
  color: #2AC3D4;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-c3f64b60-0502-4c9a-8a96-b1ecdaec5a83.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}